*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Times New Roman";
}
body{
background-color: lightpink;
display: flex;
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
background: linear-gradient(to right, blue 50%, violet 70%, blue 90%);

} 

#all{
  
padding: 30px;
background-color: lightblue;
border: 1px solid black ;
border-radius: 20px;
width: 400px;
height: 400px;

}
h1{
  margin: 30px;
}
.form{
position: relative;
text-align: center;
padding: 5px;
 
}


#but{
display: flex;
margin: 100px;
top: 90px;
justify-content: center;
align-items: center;

}
#btn{
width: 100px;
height: 50px;
border-radius: 10px;
background-color: lightgreen;
}
#btn:hover{
background-color: blue;
}
.formu{
padding-bottom: 20px;
text-align: center;
font-size: 40px;
font-family: arial;
padding-bottom: 40px;
}
input{
border-radius: 5px;
height: 30px;
outline: none;
margin: 0;
padding: 0;
}
